<footer>
    <div class="logocontainer">
        <a href="https://github.com/melycm">
            <img src="images/github.png" alt="Github Link" class="githublogos">
        </a>
        <a href="https://github.com/JeffDanh">
            <img src="images/github.png" alt="Github Link" class="githublogos">
        </a>
        <a href="https://github.com/namaslay33">
            <img src="images/github.png" alt="Github Link" class="githublogos">
        </a>
        <a href="https://github.com/Jeith">
            <img src="images/github.png" alt="Github Link" class="githublogos">
        </a>
    </div>
    <p>© 2018 Copyright: Melissa Cantu, Jeff Duong, Skylar Hunt and Keith Pittman</p>
</footer>