<header>
    <div class="navstyling">
        <img src="images/logo.jpg" style="border: 5px solid #330000; height: 130px; border-radius: 50%; margin-top: 5px; margin-left: 50px; z-index: 5;">
        <div style="margin-top: 5px; color: white; vertical-align: center; width: 250px; font-family: Arial, Helvetica, sans-serif; margin-left: 20px;">
            <h5 style="letter-spacing: 2px; margin-top:25px;">Movies and Drinks</h5>
            <p>Movies, Drinks and Chat</p>
        </div>
    </div>
    <div class="navlinks">
        <a href="http://localhost:7000/">Home</a>
        <a id="browse">Browse</a>
        <a href="http://localhost:7000/">Random</a>
        <a href="http://localhost:7000/">Log In</a>
    </div>
</header>