<header>
    <div class="navstyling">
        <img src="/images/logo3.png" style="border: 5px solid #330000; height: 130px; border-radius: 50%; margin-top: 5px; margin-left: 50px; z-index: 5;">
        <div style="margin-top: 5px; color: white; vertical-align: center; width: 250px; font-family: Arial, Helvetica, sans-serif; margin-left: 20px;">
            <h5 style="letter-spacing: 2px; margin-top:35px;">Enhancing your movie experience.</h5>
            <!-- <p style="font-size: 13px;">You pick the movie, we pick the drink.</p> -->
        </div>
    </div>
    <div class="navlinks">
        <a class="navA" href="/">Home</a>
        <a class="navA" id="browse">Browse</a>
        <a class="navA" href="/profile">Profile</a>
        <!-- <a class="navA" href="/login">Log In</a> -->
        <a style="margin-top: -9px; margin-left: -16px;" class="nav-link dropdown-toggle navA" href="#" id="navbarDropdown" data-toggle="dropdown">Account</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a style="border-radius: 5px; color: black; text-align: center;" class="dropdown-item" href="/login">Login</a>
            <a style="border-radius: 5px; color: black; text-align: center;" class="dropdown-item" href="/login">Logout</a>
        </div>
    </div>
</header>