form {
    background-color: white;
    z-index: 2;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
    font-weight: bold;
    font-size: 1.3em;      
}

h1 {
    text-align: center;
}

.fa-star::before {
    font-weight: 900;
    /* color: #ccc; */
}

.fa-star::after {
   color: #f8ce0b;
}

.footer {
    position: absolute;
    bottom: 0px;
}