<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Ratings and Reviews </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="form.css" />
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <style>
            body{
            }
        </style>
    </head>

    <body id='pageId'>
    
    <% include ../partials/header %>   

    <form action="/submit" method="POST" style="background-color: #330000; color: white; font-weight: 500; font-family: Arial, Helvetica, sans-serif;">
     
        <div class="display-3" style="color: white; padding-top: 12%">Ratings & Reviews</div>
            
        <hr>
            
        <br>
        Username: <input type="text" name="username">
                          
        <br><br>  
        What movie did you see? <input type="text" name="movie_title" placeholder="Movie Title"> 
        Rating:
        <input type="text" name="movie_rating" placeholder="# between 1-5">
         
        <br><br>
        How would you rate your drink selection? 
        <div class="form-check form-check-inline">
            <input class="form-check-input position-static" type="radio" name="drinkRating" id="drinkRating1" value="option1" aria-label="...">
            1
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input position-static" type="radio" name="drinkRating" id="drinkRating2" value="option1" aria-label="...">
            2
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input position-static" type="radio" name="drinkRating" id="drinkRating3" value="option1" aria-label="...">
            3
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input position-static" type="radio" name="drinkRating" id="drinkRating4" value="option1" aria-label="...">
            4
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input position-static" type="radio" name="drinkRating" id="drinkRating5" value="option1" aria-label="...">
            5
        </div>
        
        <br><br>
        Did you like the movie and drink combo? 
        <input type="radio" value="Yes">Yes
        <input type="radio" value="No">No
        
        <br><br>
        Comments: 
        <div class="form-group">
            <textarea name="comments" class="form-control" id="exampleFormControlTextarea1" minlength="0" maxlength="500" rows="3"></textarea>
        </div>
                
        <button type="submit" style="background-color: blue; color: white;">Submit Review</button>
    </form>
    
    <% include ../partials/footer %>
                    
    </body>
    <script src="../../routes/form.js"></script>
        
</html>