<!doctype html>
<html lang="en">
  <head>
    <title>Log In</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body id="<%= pageID %>">
        <% include ../partials/header %>
        <div class="movedarkbox"></div>
        <div class="signin">
            <div class="movedarkbox"></div>
            <div class="formsquare">
                <h2 style="margin-bottom: 10px; margin-top: 13px; color:black; font-size: 1.8em;">Login to your account</h2>
                
                <form action="/login" method="post" style="margin-bottom: 15px;">
                    <!-- <p>Username:</p> -->
                    <input type="text" name="username" class="signinfields" placeholder="Username">
                    <!-- <p>Password:</p> -->
                    <input type="password" name="password" class="signinfields" placeholder="Password">
                    <br>
                    <input class="login" type="submit" value="Login"/>
                </form>
                
                <!-- <form style="margin-bottom: 25px;">
                    
                </form> -->
                
                <a href="/register" style="color: black; font-size:15px; margin: 0 auto;">Dont have an account? Sign up!</a>
            </div>
        </div>
        <% include ../partials/footer.ejs %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>