<!doctype html>
<html lang="en">
  <head>
    <title>My Account</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <% include ../partials/header %>      
    <div class="accountpage">
        <div class="name">
            <h2>Hello, Keith</h2>
            <a href="/login" style="text-align: center; border: solid 1px black; background: blue; padding: 5px;">Logout</a>
        </div>
        <div class="mymovies">
            <h4>My Favorited Movies</h4>
            <div class="cardcontainer row">
                <div class="card cardbackground text-white size col-md-4 col-12">
                    <img class="card-img" alt="Card image" id="movieposter1">
                    <div class="card-img-overlay cardtext">
                    <h5 class="card-title" id="title1"></h5>
                    </div>
                </div>
                <div class="card cardbackground text-white size col-md-4 col-12">
                    <img class="card-img" alt="Card image" src="http://image.tmdb.org/t/p/w185//nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg">
                    <div class="card-img-overlay cardtext">
                    <h5 class="card-title"></h5>
                    </div>
                </div>
                <div class="card cardbackground text-white size col-md-4 col-12">
                    <img class="card-img" alt="Card image" src="http://image.tmdb.org/t/p/w185//nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg">
                    <div class="card-img-overlay cardtext">
                    <h5 class="card-title"></h5>
                    </div>
                </div>
            </div>
        </div>
        <a href="/login" style="text-align: center; border: solid 1px black; background: blue; padding: 5px;">Logout</a>
    </div>
    <% include ../partials/footer.ejs %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script> 
            var movieposter1 = document.getElementById("movieposter1");
            var title1 = document.getElementById("title1")
            var localposter1 = localStorage.getItem("poster1");
            var localtitle1 = localStorage.getItem("movie1");
            movieposter1.setAttribute('src', localposter1);
            title1.innerHTML = localtitle1;
    </script>
  </body>
</html>